run = ["python", "manage.py", "runserver", "0.0.0.0:3000"]
entrypoint = "manage.py"
modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk"]

[unitTest]
language = "python3"

[deployment]
run = ["python", "manage.py", "runserver", "0.0.0.0:3000"]
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[agent]
expertMode = true

[userenv]

[userenv.shared]
HTTPS = "ON"
DEBUG = "FALSE"
SECRET_KEY = "2222"
